@model DemoModel

@{
    var pages = new [] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    var orderBys = new [] { "Key", "KeyDesc", "Value", "ValueDesc" };

    var page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"]) : 1;
    var orderBy = Request.QueryString["orderBy"] != null ? Request.QueryString["orderBy"] : "Key";
    var orderThenBy = Request.QueryString["orderThenBy"] != null ? Request.QueryString["orderThenBy"] : "Key";

    var data = new List<KeyValuePair<int, char>>();
    for (var i=0; i<95; i++) {
        data.Add(new KeyValuePair<int, char>(i, (char)(97 + i%26)));
    }
                      
    var sortedData = data.AsQueryable();
    sortedData = !orderBy.Contains("Desc") ? sortedData.OrderBy(orderBy) : sortedData.OrderByDescending(orderBy.Replace("Desc",""));
    sortedData = !orderThenBy.Contains("Desc") ? sortedData.ThenBy(orderThenBy) : sortedData.ThenByDescending(orderThenBy.Replace("Desc",""));

    var result = sortedData.Paginate(page, 10);
}

@Model.GetTypeSummary(typeof(IQueryableExtensions))

<p>@Html.GlobalResource(Resources.Language.IQueryableExtensions_MethodDescriptions):</p>

<div class="container">
  @Html.GlobalResource(Resources.Language.OrderBy)
  <select id="selOrderBy">
    @foreach(var item in orderBys) {
    <option @(item == orderBy ? "selected='selected'" : "")>@item</option>  
    }
  </select>

  @Html.GlobalResource(Resources.Language.ThenBy)
  <select id="selOrderThenBy">
    @foreach(var item in orderBys) {
    <option @(item == orderThenBy ? "selected='selected'" : "")>@item</option>  
    }
  </select><br/><br/>
  
  <ul class="clean">
    @foreach(var i in result) {
    <li>@i.Key: @i.Value</li>
    }
  </ul><br/>
  
  <div class="align-center">
    @foreach(var i in pages) {
    <span>
      &nbsp;<a href="" title="@i" class="page-link @(i == page ? "current" : "")">@i</a>&nbsp;
    </span>
    }
  </div>
</div>

<script type="text/javascript">
    function gotoPage(page) {
        location.href = '@Model.PostUrl?orderBy=' + $('#selOrderBy').val() + '&orderThenBy=' + $('#selOrderThenBy').val() + '&page=' + page;
    }

    $("#selOrderBy").change(function () { gotoPage(1); });
    $("#selOrderThenBy").change(function () { gotoPage(1); });
    $(".page-link").click(function () { gotoPage($(this).attr("title")); return false; });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var data = new List&lt;KeyValuePair&lt;int, char&gt;&gt;();
for (var i=0; i<95; i++)
  data.Add(new KeyValuePair&lt;int, char&gt;(i, (char)(97 + i%26)));

var sortedData = data.AsQueryable();
sortedData = @(orderBy.Contains("Desc") ? "sortedData.OrderByDescending(\"" + orderBy.Replace("Desc","") + "\")" : "sortedData.OrderBy(\"" + orderBy + "\")");
sortedData = @(orderThenBy.Contains("Desc") ? "sortedData.ThenByDescending(\"" + orderThenBy.Replace("Desc","") + "\")" : "sortedData.ThenBy(\"" + orderThenBy + "\")");

var result = sortedData.Paginate(@page, 10);
    
result.IsNullOrEmpty() =>  @result.IsNullOrEmpty()
result.IsSingle()      =>  @result.IsSingle()</pre>
</div>