@model DemoModel

@{
    var query = Request.QueryString["value"];
    var value = query.IsNullOrEmpty() ? 0.0 : double.Parse(query);

    var converter = new DistanceConverter();
}

@Model.GetTypeSummary(typeof(DistanceConverter))

<p>@Html.GlobalResource(Resources.Language.EnterDistanceToConvert):</p>

<div class="container input">
  <input type="text" id="txtValue" value="@query" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtValue").watermark("@Html.GlobalResource(Resources.Language.EnterValue)");
    $('button').click(function () { location.href = '@Model.PostUrl?value=' + $('#txtValue').val() });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var value = @Json.Encode(value);
var converter = new DistanceConverter();

converter.ConvertKilometersToMiles(value) => @Json.Encode(converter.ConvertKilometersToMiles(value))
converter.ConvertMilesToKilometers(value) => @Json.Encode(converter.ConvertMilesToKilometers(value))</pre>
</div>