@model DemoModel

@{
    var typeName = Request.QueryString["type"];
    var output = Resources.Language.NotDocumentedType;
    
    if (!typeName.IsNullOrEmpty())
    {
        var extractor = new XmlDocumentationHandler();
        var documentation = extractor.ExtractTypeXmlDocumentation(typeof(DemoModel));
        var sw = new StringWriter();
        var xw = new XmlTextWriter(sw);
        
        documentation.WriteTo(xw);
        output = sw.ToString();
    }
}

<p>@Html.GlobalResource(Resources.Language.LoadTypeDocumentation):</p>

<div class="container input">
  <button class="type">@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $('button.type').click(function () { location.href = "@Model.PostUrl?type=DemoModel" });
</script>


@if (!typeName.IsNullOrEmpty())
{
<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>
    
<div class="container code">
<pre>
var extractor = new XmlDocumentationHandler();
var documentation = extractor.ExtractTypeXmlDocumentation(typeof(DemoModel));

//Documentation output for the DemoModel type:
@output</pre>
</div>
}