@model DemoModel

@{
    var value = Request.QueryString["value"];
    var nullable = value.IsNullOrEmpty() ? new NExtra.Nullable<string>() : new NExtra.Nullable<string>(value);
}

<p class="ingress">@Html.GlobalResource(Resources.Language.Nullable_TypeSummary)</p>

<p>@Html.GlobalResource(Resources.Language.EnterValueToWrapInNullable):</p>

<div class="container input">
  <input type="text" id="txtValue" value="@value" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtValue").watermark("@Html.GlobalResource(Resources.Language.EnterValue)");
    $('button').click(function () { location.href = '@Model.PostUrl?value=' + $('#txtValue').val() });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
string value = @Json.Encode(value);
var nullable = value.IsNullOrEmpty()
  ? new NExtra.Nullable&lt;string&gt;()
  : new NExtra.Nullable&lt;string&gt;(value);
  
nullable.HasValue  => @nullable.HasValue
nullable.Value     => @Json.Encode(nullable.Value)</pre>
</div>