@model DemoModel

@{
    var query = Request.QueryString["value"];
    var value = query.IsNullOrEmpty(false) ? "" : query;

    var loader = new SyndicationFeedLoader();
    var result = loader.Load(value);
}

@Model.GetTypeSummary(typeof(SyndicationFeedLoader))

<p>@Html.GlobalResource(Resources.Language.EnterStringToLoadFeed):</p>

<div class="container input">
  <input type="text" id="txtValue" value="@query" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtValue").watermark("@Html.GlobalResource(Resources.Language.EnterValue)");
    $('button').click(function () { location.href = '@Model.PostUrl?value=' + $('#txtValue').val() + '&spacer' });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var loader = new SyndicationFeedLoader();
var result = loader.Load(@Json.Encode(value));

result =>
@Json.Encode(result)</pre>
</div>