@model DemoModel

@{
    var query = Request.QueryString["value"];
    var value = query.IsNullOrEmpty(false) ? "" : query;

    var requiredAttribute = new UrlAttribute();
    var optionalAttribute = new UrlAttribute(false);
}

@Model.GetTypeSummary(typeof(UrlAttribute))

<p>@Html.GlobalResource(Resources.Language.EnterValueToValidate):</p>

<div class="container input">
  <input type="text" id="txtValue" value="@query" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtValue").watermark("@Html.GlobalResource(Resources.Language.EnterValue)");
    $('button').click(function () { location.href = '@Model.PostUrl?value=' + $('#txtValue').val() + '&spacer' });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var requiredAttribute = new UrlAttribute();
var optionalAttribute = new UrlAttribute(false);

requiredAttribute.IsValid(@Json.Encode(value)) => @requiredAttribute.IsValid(value)
optionalAttribute.IsValid(@Json.Encode(value)) => @optionalAttribute.IsValid(value)</pre>
</div>