@model DemoModel

@{ var handler = new Html5ElementSupport(); }

@Model.GetTypeSummary(typeof(Html5ElementSupport))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var handler = new Html5ElementSupport();
var v8 = new Version(8,0,0,0);
var v9 = new Version(9,0,0,0);

handler.HasHtml5ElementSupport()                           => @handler.HasHtml5ElementSupport()
handler.HasHtml5ElementSupport("IE", new Version(8,0,0,0)) => @handler.HasHtml5ElementSupport("IE", new Version(8,0,0,0))
handler.HasHtml5ElementSupport("IE", new Version(9,0,0,0)) => @handler.HasHtml5ElementSupport("IE", new Version(9,0,0,0))</pre>
</div>