@model DemoModel

@Model.GetTypeSummary(typeof(Html5ElementConvertModule))

<p>@Html.GlobalResource(Resources.Language.Html5ElementConvertModuleDescription1)</p>

<nav>@Html.GlobalResource(Resources.Language.ThisIsANav)</nav>

<p>@Html.GlobalResource(Resources.Language.Html5ElementConvertModuleDescription2)</p>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
&lt;system.web&gt;
  &lt;httpModules&gt;
    &lt;add name="NExtra.Web.HttpModules.Html5ElementConvertModule" type="NExtra.Web.HttpModules.Html5ElementConvertModule, NExtra, Version=2.0.0.1, Culture=neutral" /&gt;
  &lt;/httpModules&gt;
&lt;/system.web&gt;

&lt;system.webServer&gt;
  &lt;modules runAllManagedModulesForAllRequests="true"&gt;
    &lt;add name="NExtra.Web.HttpModules.Html5ElementConvertModule" type="NExtra.Web.HttpModules.Html5ElementConvertModule, NExtra, Version=2.0.0.1, Culture=neutral" preCondition="managedHandler" /&gt;
  &lt;/modules&gt;
&lt;system.webServer&gt;</pre>
</div>