@model DemoModel

@{
    var query = Request.QueryString["value"];
    var value = query.IsNullOrEmpty(false) ? "" : query;

    var requiredDashAttribute = new SwedishSsnAttribute();
    var requiredNoDashAttribute = new SwedishSsnAttribute(true, false);

    var optionalDashAttribute = new SwedishSsnAttribute(false);
    var optionalNoDashAttribute = new SwedishSsnAttribute(false, false);
}

@Model.GetTypeSummary(typeof(SwedishSsnAttribute))

<p>@Html.GlobalResource(Resources.Language.EnterValueToValidate):</p>

<div class="container input">
  <input type="text" id="txtValue" value="@query" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtValue").watermark("@Html.GlobalResource(Resources.Language.EnterValue)");
    $('button').click(function () { location.href = '@Model.PostUrl?value=' + $('#txtValue').val() + '&spacer' });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var requiredDashAttribute = new SwedishSsnAttribute();
var requiredNoDashAttribute = new SwedishSsnAttribute(true, false);
var optionalDashAttribute = new SwedishSsnAttribute(false);
var optionalNoDashAttribute = new SwedishSsnAttribute(false, false);

requiredDashAttribute.IsValid(@Json.Encode(value))   => @requiredDashAttribute.IsValid(value)
requiredNoDashAttribute.IsValid(@Json.Encode(value)) => @requiredNoDashAttribute.IsValid(value)
optionalDashAttribute.IsValid(@Json.Encode(value)) => @optionalDashAttribute.IsValid(value)
optionalNoDashAttribute.IsValid(@Json.Encode(value)) => @optionalNoDashAttribute.IsValid(value)</pre>
</div>