@model DemoModel

@{
    var assemblyName = Request.QueryString["assemblyName"];
    var assembly = assemblyName.IsNullOrEmpty() ? null : Assembly.Load(assemblyName);
    var extractor = new XmlDocumentationHandler();
    var sw = new StringWriter();
    var xw = new XmlTextWriter(sw);
        
    if (assembly != null)
    {
        var documentation = extractor.ExtractAssemblyXmlDocumentation(assembly);
        documentation.WriteTo(xw);
    }
}

<p>@Html.GlobalResource(Resources.Language.LoadAssemblyDocumentation):</p>

<div class="container input">
  <select id="selAssembly">
    <option>@Html.GlobalResource(Resources.Language.SelectAssembly)</option>
    @foreach (var ass in ViewBag.DemoAssemblies)
    {
    <option @(assemblyName == @ass.GetName().Name ? "selected='selected'" : "")>@ass.GetName().Name</option>
    }
  </select>
  <button class="assembly">@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $('button.assembly').click(function () { location.href = '@Model.PostUrl?assemblyName=' + $('#selAssembly').val() });
</script>

@if (assembly != null)
{
<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>
    
<div class="container code">
<pre>
var assembly = Assembly.Load("@assemblyName");
var extractor = new XmlDocumentationHandler();
var documentation = extractor.ExtractAssemblyXmlDocumentation(assembly);

//@Html.GlobalResource(Resources.Language.DocumentationOutput):
@sw.ToString()</pre>
</div>
}