@model DemoModel

@{
    var query = Request.QueryString["value"];
    var value = new Uri(query.IsNullOrEmpty() ? "http://www.saidi.se" : query); 
}

@Model.GetTypeSummary(typeof(UriExtensions))

<p>@Html.GlobalResource(Resources.Language.EnterUriToExtend):</p>

<div class="container input">
  <input type="text" id="txtValue" value="@query" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtValue").watermark("@Html.GlobalResource(Resources.Language.EnterValue)");
    $('button').click(function () { location.href = '@Model.PostUrl?value=' + $('#txtValue').val() });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var value = new Uri(@Json.Encode(value.OriginalString));

value.Root() => @Json.Encode(value.Root())</pre>
</div>