@model DemoModel

@{
    var query = Request.QueryString["value"];
    var value = query.IsNullOrEmpty(false) ? "" : query;
    
    var attribute = new MinLengthAttribute(10);
}

@Model.GetTypeSummary(typeof(MinLengthAttribute))

<p>@Html.GlobalResource(Resources.Language.EnterValueToValidate):</p>

<div class="container input">
  <input type="text" id="txtValue" value="@query" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtValue").watermark("@Html.GlobalResource(Resources.Language.EnterValue)");
    $('button').click(function () { location.href = '@Model.PostUrl?value=' + $('#txtValue').val() + '&spacer' });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var attribute = new MinLengthAttribute(10);

attribute.IsValid(@Json.Encode(value)) => @attribute.IsValid(value)</pre>
</div>