@model DemoModel

@{
    var latQuery = Request.QueryString["lat"];
    var longQuery = Request.QueryString["long"];
    var latitude = latQuery.IsNullOrEmpty() ? 0.0 : double.Parse(latQuery);
    var longitude = longQuery.IsNullOrEmpty() ? 0.0 : double.Parse(longQuery);
    
    var position = new Position(latitude, longitude);
}

@Model.GetTypeSummary(typeof(Position))

<p>@Html.GlobalResource(Resources.Language.EnterLatitudeAndLongitudeToCreatePosition):</p>

<div class="container input two">
  <input type="text" id="txtLat" value="@latQuery" />
  <input type="text" id="txtLong" value="@longQuery" />
  <button>@Html.GlobalResource(Resources.Language.TryItOut)</button>
</div>

<script type="text/javascript">
    $("#txtLat").watermark("@Html.GlobalResource(Resources.Language.EnterLatitude)");
    $("#txtLong").watermark("@Html.GlobalResource(Resources.Language.EnterLongitude)");
    $('button').click(function () { location.href = '@Model.PostUrl?lat=' + $('#txtLat').val() + '&long=' + $('#txtLong').val() });
</script>

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var position = new Position(@latitude, @longitude);

position.Latitude  => @position.Latitude
position.Longitude => @position.Longitude</pre>
</div>